Service References/PMS/inventory.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Inventory">
        <s:complexType />
      </s:element>
      <s:element name="InventoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InventoryResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AllEmployee">
        <s:complexType />
      </s:element>
      <s:element name="AllEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AllEmployeeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Office">
        <s:complexType />
      </s:element>
      <s:element name="OfficeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OfficeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InventorySoapIn">
    <wsdl:part name="parameters" element="tns:Inventory" />
  </wsdl:message>
  <wsdl:message name="InventorySoapOut">
    <wsdl:part name="parameters" element="tns:InventoryResponse" />
  </wsdl:message>
  <wsdl:message name="AllEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:AllEmployee" />
  </wsdl:message>
  <wsdl:message name="AllEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:AllEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="OfficeSoapIn">
    <wsdl:part name="parameters" element="tns:Office" />
  </wsdl:message>
  <wsdl:message name="OfficeSoapOut">
    <wsdl:part name="parameters" element="tns:OfficeResponse" />
  </wsdl:message>
  <wsdl:portType name="inventorySoap">
    <wsdl:operation name="Inventory">
      <wsdl:input message="tns:InventorySoapIn" />
      <wsdl:output message="tns:InventorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AllEmployee">
      <wsdl:input message="tns:AllEmployeeSoapIn" />
      <wsdl:output message="tns:AllEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Office">
      <wsdl:input message="tns:OfficeSoapIn" />
      <wsdl:output message="tns:OfficeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="inventorySoap" type="tns:inventorySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Inventory">
      <soap:operation soapAction="http://tempuri.org/Inventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllEmployee">
      <soap:operation soapAction="http://tempuri.org/AllEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Office">
      <soap:operation soapAction="http://tempuri.org/Office" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="inventorySoap12" type="tns:inventorySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Inventory">
      <soap12:operation soapAction="http://tempuri.org/Inventory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllEmployee">
      <soap12:operation soapAction="http://tempuri.org/AllEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Office">
      <soap12:operation soapAction="http://tempuri.org/Office" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="inventory">
    <wsdl:port name="inventorySoap" binding="tns:inventorySoap">
      <soap:address location="https://pgas.ph/iws/inventory.asmx" />
    </wsdl:port>
    <wsdl:port name="inventorySoap12" binding="tns:inventorySoap12">
      <soap12:address location="https://pgas.ph/iws/inventory.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>